*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

#tablero{
    display: flex;
    width: 210px;
    flex-wrap: wrap;
    background: rgb(145, 222, 250);
}

.cuadro{
    width: 70px;
    height: 70px;
    border: 2px solid rgb(2, 34, 124);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgb(27, 1, 97);
    cursor: pointer;
    user-select: none;
}

/*Cuadro activo*/
.cuadro:hover{
    background: rgb(211, 143, 211);
}

/*Ubicación de los div*/
#juego{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Formato del encabezado */
#encabezado{
    font-size: 30px;
    font: bold 120% cursive;
    padding: 20px;
}

/*Quitar bordes externos*/
.cuadro:nth-child(7),.cuadro:nth-child(8),.cuadro:nth-child(9){
    border-bottom: 0px;
}

.cuadro:nth-child(1),.cuadro:nth-child(2),.cuadro:nth-child(3){
    border-top: 0px;
}

.cuadro:nth-child(3),.cuadro:nth-child(6),.cuadro:nth-child(9){
    border-right: 0px;
}

.cuadro:nth-child(1),.cuadro:nth-child(4),.cuadro:nth-child(7){
    border-left: 0px;
}

/*Botón volver a jugar*/
.volverJugar{
    cursor: pointer;
    color: #00266d; 
    background-color: rgb(233, 151, 151);
    border: 2px solid rgb(224, 77, 19);
}